/* 

Using Font Faces for loading ttf files for CSS because in production the google fonts css @import link does not load on first
 so it doesn't get the css fonts, So we r using this to import the css via ttf files... 

*/


@font-face {
  font-family: 'Varela Round';
  src: url('/public/fonts/VarelaRound-Regular.ttf');
  src: url('/public/fonts/VarelaRound-Regular.ttf') format('embedded-opentype'),
    url('/public/fonts/VarelaRound-Regular.ttf') format('truetype'),
}

@font-face {
  font-family: 'Tilt Neon';
  src: url('/public/fonts/TiltNeon-Regular.ttf');
  src: url('/public/fonts/TiltNeon-Regular.ttf') format('embedded-opentype'),
    url('/public/fonts/TiltNeon-Regular.ttf') format('truetype'),
}


* {
  box-sizing: border-box;
  outline: none !important;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
}

html {
  scroll-behavior: smooth;
}

body {
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  background-color: black;

  --sb-track-color: #b8b8b8;
  --sb-thumb-color: black;
  --sb-size: 10px;

  scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
}

body::-webkit-scrollbar {
  width: var(--sb-size)
}

body::-webkit-scrollbar-track {
  background: var(--sb-track-color);
  border-radius: 10px;
}

body::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
  border-radius: 10px;
}

.loading-screen {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #000;
  filter: blur(10px) contrast(20);
  margin: 0;
  padding: 0;
  z-index: 9999;
}

.loading-blob-1,
.loading-blob-2 {
  width: 70px;
  height: 70px;
  position: absolute;
  background: #fff;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  padding: 0;
}

.loading-blob-1 {
  left: 20%;
  animation: osc-l 2.5s ease infinite;
  margin: 0;
  padding: 0;
}

.loading-blob-2 {
  left: 80%;
  animation: osc-r 2.5s ease infinite;
  background: #0ff;
  margin: 0;
  padding: 0;
}

@keyframes osc-l {
  0% {
    left: 20%;
  }

  50% {
    left: 50%;
  }

  100% {
    left: 20%;
  }
}

@keyframes osc-r {
  0% {
    left: 80%;
  }

  50% {
    left: 50%;
  }

  100% {
    left: 80%;
  }
}